<!-- snippets/product-user-trust-snippet.liquid -->
<div id="{{ block.id }}" class="user-trust-name" style="background-color: {{ block.settings.bg_color }};">
  <div class="user-trust-pics">
    {% for i in (1..2) %}
      {% assign profile_pic_key = 'profile_pic_' | append: i %}
      {% if block.settings[profile_pic_key] != blank %}
        {{ block.settings[profile_pic_key] | image_url: width: 200 | image_tag: class: "user-trust-prodiles", loading: "eager" }}
      {% else %}
        <svg width="32" height="32" viewBox="0 0 256 256" data-name="Layer 1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:#84d0f7;}.cls-2{fill:#aa392d;}.cls-3{fill:#7c211a;}.cls-4{fill:#eab198;}.cls-5{fill:#2d2d2d;}.cls-6{opacity:0.2;}.cls-7{opacity:0.3;}</style></defs><g data-name="Male 2" id="Male_2"><path class="cls-1" d="M250.57,128.13a122,122,0,0,1-37.91,88.44H44.76a101.85,101.85,0,0,1-9-9l-.83-1c-7-8.35-29.75-38-28.57-78.51C7.94,72,55.14,6,128.44,6A122.13,122.13,0,0,1,250.57,128.13Z" id="Wallpaper"/><path class="cls-2" d="M222,206.68a122.41,122.41,0,0,1-93.54,43.58c-39.71,0-69.44-21.09-83.67-33.69a104.1,104.1,0,0,1-9-9c-.25-.28-.54-.6-.82-1C48.52,192.9,66.85,182.24,88,176.19c5.92,14.71,21.81,25.25,40.45,25.25,17.33,0,32.27-9.09,39-22.16.54-1,1-2,1.43-3.09l1.15.33C190.66,182.64,208.59,193.17,222,206.68Z" id="Sweater"/><path class="cls-3" d="M168.86,176.19c-.43,1.05-.89,2.07-1.43,3.09-6.75,13.07-21.69,22.16-39,22.16-18.64,0-34.53-10.54-40.45-25.25l2.67-.73.22-.07s1.78-.47,3.43-.84a37.95,37.95,0,0,0,68.27,0A28.13,28.13,0,0,1,168.86,176.19Z" id="Neckband"/><path class="cls-4" d="M162.55,174.55a37.94,37.94,0,0,1-68.27,0c1.35-.34,2.71-.63,4.08-.91l1-.2c.17-.05.35-.09.51-.12l.87-.17,1.2-.2c.28-.07.6-.11.91-.18H103c.35-.87.68-1.8,1-2.82.11-.34.22-.71.33-1.07a40.67,40.67,0,0,0,.89-4.07,39.88,39.88,0,0,0,6.91,4.6c.18.09.35.18.53.29l.62.31.76.36c.16.07.31.13.44.2l.38.18.47.2.44.17a.69.69,0,0,0,.2.09,4.75,4.75,0,0,0,.54.2l.66.27h0l.73.27.16,0,.51.18.78.22c.11,0,.22.07.35.09l.71.2a38.17,38.17,0,0,0,4.54.8l.46,0c.11,0,.22,0,.34,0l.62,0,.55,0c.2,0,.43,0,.65,0h.55a30.33,30.33,0,0,0,9.74-1.63.07.07,0,0,0,.06,0,1.7,1.7,0,0,0,.36-.11c.8-.27,1.51-.56,2.13-.8l.85-.36.22-.08a38.68,38.68,0,0,0,9.89-6.14c.31,1.38.69,2.85,1.16,4.38.42,1.38.86,2.67,1.31,3.89.37.07.73.11,1.11.2l1.09.2,1.09.2c.26,0,.53.11.8.15a4.54,4.54,0,0,0,.53.12C159.86,173.92,161.21,174.21,162.55,174.55Z" id="Neck"/><path class="cls-5" d="M79.85,94.5a67.36,67.36,0,0,0-1,15.29c0,1,.11,2.06.22,3.09,0,.37.06.77.11,1.15-2.11-1.11-3-6-4.65-15.31-1-5.87-1.55-8.8-1.4-12a37,37,0,0,1,4.09-14.23,17.8,17.8,0,0,0,6.25,9.34A69,69,0,0,0,79.85,94.5Z" id="Hairs"/><path class="cls-5" d="M182.24,98.72c-.8,4.53-1.43,8-2.09,10.51-.71,2.71-1.49,4.29-2.63,4.82.18-1.6.32-3.17.38-4.77a65,65,0,0,0-3.51-24.65s0-.07,0-.09a83.27,83.27,0,0,0,7.75-5.86,36.07,36.07,0,0,1,1.52,8v0C183.81,89.94,183.28,92.88,182.24,98.72Z" data-name="Hairs" id="Hairs-2"/><path class="cls-6" d="M170,176.52c-.82,1-1.69,1.87-2.58,2.76a57.05,57.05,0,0,1-6.28,5.47,44.46,44.46,0,0,1-9.52,5.4A35.78,35.78,0,0,1,145,192.1a30.8,30.8,0,0,1-6.07.54,32.7,32.7,0,0,1-11.62-2.43,4.63,4.63,0,0,1-.64-.29,41.9,41.9,0,0,1-8.34-4.73,59.9,59.9,0,0,1-12.69-12.87c-.57-.77-1.13-1.55-1.68-2.37.11-.34.22-.71.33-1.07a40.67,40.67,0,0,0,.89-4.07c.58.47,1.18.94,1.8,1.38a45.8,45.8,0,0,0,5.11,3.22c.18.09.35.18.53.29l.62.31.76.36c.16.07.31.13.44.2l.38.18.47.2.44.17a.69.69,0,0,0,.2.09l.54.2.66.27h0l.73.27.16,0,.51.18.78.22c.11,0,.22.07.35.09l.71.2a31.48,31.48,0,0,0,4.54.8l.46,0c.11,0,.22,0,.34,0l.62,0,.55,0c.2,0,.43,0,.65,0h.55a31.93,31.93,0,0,0,9.74-1.63.07.07,0,0,0,.06,0,1.7,1.7,0,0,0,.36-.11c.67-.22,1.31-.47,2-.73l.2-.07c.26-.11.53-.22.82-.36l.22-.08a46.4,46.4,0,0,0,8.27-4.89c.55-.4,1.09-.83,1.62-1.25.31,1.38.69,2.85,1.16,4.38.42,1.38.86,2.67,1.31,3.89.37.07.73.11,1.11.2l1.09.2,1.09.2c.26,0,.53.11.8.15a4.54,4.54,0,0,0,.53.12c1.38.28,2.73.57,4.07.91,2.13.49,4.24,1,6.31,1.64Z" id="NeckShadow"/><path class="cls-4" d="M186.6,120.16c-.16,5.2-3.48,10.47-7.19,12.41a7.11,7.11,0,0,1-1.58.6l-.12,0a5.07,5.07,0,0,1-2.05.06,5,5,0,0,1-2-.88l-.28-.21a7.39,7.39,0,0,1-1.13-1.11c-2.68-3.23-3.77-9.29-2-14.13a14.78,14.78,0,0,1,3.23-5.06,9.08,9.08,0,0,1,4.44-2.6,5.91,5.91,0,0,1,2.37,0C184.7,110.15,186.74,115.81,186.6,120.16Z" id="RightEar"/><path class="cls-7" d="M186.6,120.16c-.16,5.2-3.48,10.47-7.2,12.41a7,7,0,0,1-1.57.6l-.12,0a5.07,5.07,0,0,1-2.05.06,5,5,0,0,1-2-.88l-.28-.21a7,7,0,0,1-1.13-1.11c-2.68-3.23-3.77-9.29-2-14.13a14.78,14.78,0,0,1,3.23-5.06,9.08,9.08,0,0,1,4.44-2.6,5.91,5.91,0,0,1,2.37,0C184.7,110.15,186.74,115.81,186.6,120.16Z" id="RightEarShadow"/><path class="cls-4" d="M84.57,131.06a7.28,7.28,0,0,1-1.41,1.32,5.13,5.13,0,0,1-2,.88,5.07,5.07,0,0,1-2.05-.06l-.12,0a7.11,7.11,0,0,1-1.58-.6c-3.71-1.94-7-7.21-7.2-12.41-.13-4.35,1.91-10,6.33-10.9,2.51-.51,4.91.71,6.8,2.61a14.66,14.66,0,0,1,3.24,5.06C88.34,121.77,87.24,127.83,84.57,131.06Z" id="LeftEar"/><path class="cls-4" d="M177.9,109.28c-.06,1.6-.2,3.17-.38,4.77a80.14,80.14,0,0,1-4.17,18.12c-4.67,13.11-12.52,24.73-22,32.33-.53.42-1.07.85-1.62,1.25a46.4,46.4,0,0,1-8.27,4.89l-.22.08c-.29.14-.56.25-.82.36l-.2.07c-.65.26-1.29.51-2,.73a1.7,1.7,0,0,1-.36.11.07.07,0,0,1-.06,0,31.93,31.93,0,0,1-9.74,1.63h-.55c-.22,0-.45,0-.65,0l-.55,0-.62,0c-.12,0-.23,0-.34,0l-.46,0a31.48,31.48,0,0,1-4.54-.8l-.71-.2c-.13,0-.24-.07-.35-.09l-.78-.22-.51-.18-.16,0-.73-.27h0l-.66-.27-.54-.2a.69.69,0,0,1-.2-.09l-.44-.17-.47-.2-.38-.18c-.13-.07-.28-.13-.44-.2l-.76-.36-.62-.31c-.18-.11-.35-.2-.53-.29a45.8,45.8,0,0,1-5.11-3.22c-.62-.44-1.22-.91-1.8-1.38a57.24,57.24,0,0,1-8.6-8.53,78.57,78.57,0,0,1-13.67-25.09A81.2,81.2,0,0,1,79.21,114c0-.38-.09-.78-.11-1.15-.11-1-.18-2-.22-3.09a67.36,67.36,0,0,1,1-15.29A69,69,0,0,1,83.5,81.79c.66-1.76,1.42-3.51,2.24-5.25a65.61,65.61,0,0,1,17.09-22.49c.31-.26.62-.51.94-.75a39.76,39.76,0,0,1,24.49-8.89C138,44.39,146.7,48.12,154,54a58.4,58.4,0,0,1,10.24,10.91,74.31,74.31,0,0,1,8.64,15.51c.54,1.38,1.07,2.71,1.54,4.09,0,0,0,.07,0,.09a65,65,0,0,1,3.51,24.65Z" id="Head"/><path class="cls-6" d="M183.64,86.68v0a26.09,26.09,0,0,1-3.43,3c-.09.09-.55.4-1.15.82-1,.65-2,1.29-3,1.91a74.33,74.33,0,0,1-13.42,6.43,76.87,76.87,0,0,1-62.09-4.47c-2.25-1.22-4.43-2.56-6.52-4-.71-.49-1.4-1-2.09-1.49a64.17,64.17,0,0,1-5.28-4.29c-.8-.71-1.6-1.44-2.36-2.2a40.61,40.61,0,0,0,8.78,5c6.46,2.85,14.18,5,21.67,7.07a73.55,73.55,0,0,0,19.93,3,65.77,65.77,0,0,0,20.07-3,56.6,56.6,0,0,0,8.58-3.57c1.31-.65,2.62-1.36,4-2.09,2.63-1.43,4.91-2.8,7.05-4.25a82.89,82.89,0,0,0,7.67-5.8A32.88,32.88,0,0,1,183.64,86.68Z" id="HairsShadow"/><path class="cls-5" d="M199.37,57c-.07,5.6-5.33,10.71-6.87,12.15-3.93,3.74-7.18,6.8-10.38,9.52l-.08.06a82.89,82.89,0,0,1-7.67,5.8c-2.14,1.45-4.42,2.82-7.05,4.25-1.35.73-2.66,1.44-4,2.09a56.6,56.6,0,0,1-8.58,3.57,65.77,65.77,0,0,1-20.07,3,73.55,73.55,0,0,1-19.93-3c-7.49-2.09-15.21-4.22-21.67-7.07a40.61,40.61,0,0,1-8.78-5l0,0c-.27-.22-.54-.42-.8-.64a17.8,17.8,0,0,1-6.25-9.34v0C74.88,63,81.79,53.56,82.83,52.16a30.41,30.41,0,0,1,12.49-9.42c9.36-4,13.69-.87,34,0,18.07.78,27.12,1.18,35.65-2.16,3.44-1.35,9.89-4.33,11-2.73.91,1.29-1.74,5.11-2.36,6-2.33,3.36-4.29,4.27-4,5.07.51,1.29,6.16.66,10.87-.71,5-1.47,6.89-3.2,7.78-2.36,1.2,1.13-.6,6-3.63,9.22-2.17,2.34-4.2,3-4,3.8.29,1.07,4.17,1.45,7.77.54,5.69-1.43,8.58-5.58,10.18-4.54C199.08,55.1,199.39,55.67,199.37,57Z" data-name="Hairs" id="Hairs-3"/></g></svg>
      {% endif %}
    {% endfor %}  
  </div>
  <div class="user-trust-content">
    <strong>
      {% for i in (1..2) %}
        {% assign user_name_key = 'user_name_' | append: i %}
        {{ block.settings[user_name_key] }}{% unless forloop.last %}, {% endunless %}
      {% endfor %}
      {% if block.settings.verified == true %}
        <svg width="15" height="15" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_18_10)"><path d="M11.3599 5.1749L10.4399 4.4349C10.3661 4.37602 10.3089 4.29898 10.2739 4.21133C10.2388 4.12368 10.2271 4.02843 10.2399 3.9349L10.3649 2.7649C10.3823 2.60944 10.3645 2.45206 10.3129 2.30438C10.2614 2.15669 10.1773 2.02247 10.0669 1.91162C9.95657 1.80077 9.82272 1.71611 9.67526 1.66389C9.5278 1.61167 9.3705 1.59322 9.21496 1.6099L8.03996 1.7349C7.94643 1.74772 7.85118 1.73603 7.76353 1.70097C7.67588 1.66591 7.59884 1.60869 7.53996 1.5349L6.81496 0.629902C6.71358 0.513308 6.58837 0.419824 6.44777 0.35576C6.30717 0.291696 6.15446 0.258545 5.99996 0.258545C5.84546 0.258545 5.69275 0.291696 5.55215 0.35576C5.41155 0.419824 5.28634 0.513308 5.18496 0.629902L4.44496 1.5499C4.38608 1.62369 4.30904 1.68091 4.22139 1.71597C4.13374 1.75103 4.03849 1.76272 3.94496 1.7499L2.78496 1.6249C2.62942 1.60822 2.47212 1.62667 2.32466 1.67889C2.1772 1.73111 2.04335 1.81577 1.93298 1.92662C1.82261 2.03747 1.73853 2.17169 1.68695 2.31938C1.63537 2.46706 1.6176 2.62444 1.63496 2.7799L1.75996 3.9499C1.77278 4.04343 1.76109 4.13868 1.72603 4.22633C1.69097 4.31398 1.63375 4.39102 1.55996 4.4499L0.639959 5.1749C0.517946 5.27282 0.419475 5.39689 0.351813 5.53795C0.28415 5.67901 0.249023 5.83346 0.249023 5.9899C0.249023 6.14635 0.28415 6.3008 0.351813 6.44186C0.419475 6.58292 0.517946 6.70698 0.639959 6.8049L1.55996 7.5449C1.63337 7.60411 1.69032 7.68119 1.72534 7.76875C1.76036 7.85631 1.77229 7.95141 1.75996 8.0449L1.63496 9.2199C1.61763 9.37504 1.63561 9.53208 1.68757 9.67928C1.73952 9.82648 1.82409 9.96002 1.93496 10.0699C2.04327 10.1829 2.17661 10.269 2.32424 10.3211C2.47188 10.3732 2.62969 10.3899 2.78496 10.3699L3.95996 10.2449C4.05349 10.2321 4.14874 10.2438 4.23639 10.2788C4.32404 10.3139 4.40108 10.3711 4.45996 10.4449L5.19996 11.3649C5.29788 11.4869 5.42195 11.5854 5.563 11.653C5.70406 11.7207 5.85851 11.7558 6.01496 11.7558C6.17141 11.7558 6.32586 11.7207 6.46692 11.653C6.60797 11.5854 6.73204 11.4869 6.82996 11.3649L7.56996 10.4449C7.62884 10.3711 7.70588 10.3139 7.79353 10.2788C7.88118 10.2438 7.97643 10.2321 8.06996 10.2449L9.24496 10.3699C9.40024 10.3899 9.55804 10.3732 9.70568 10.3211C9.85331 10.269 9.98665 10.1829 10.0949 10.0699C10.2058 9.96002 10.2904 9.82648 10.3423 9.67928C10.3943 9.53208 10.4123 9.37504 10.3949 9.2199L10.2699 8.0449C10.2576 7.95141 10.2695 7.85631 10.3045 7.76875C10.3396 7.68119 10.3965 7.60411 10.4699 7.5449L11.3899 6.8049C11.5119 6.70698 11.6104 6.58292 11.6781 6.44186C11.7457 6.3008 11.7809 6.14635 11.7809 5.9899C11.7809 5.83346 11.7457 5.67901 11.6781 5.53795C11.6104 5.39689 11.5119 5.27282 11.3899 5.1749H11.3599ZM6.19996 7.5249C6.12291 7.62517 6.02549 7.70798 5.91412 7.76786C5.80274 7.82775 5.67994 7.86335 5.5538 7.87233C5.42767 7.8813 5.30106 7.86345 5.18233 7.81994C5.0636 7.77643 4.95543 7.70825 4.86496 7.6199L3.64496 6.3999C3.59834 6.35328 3.56136 6.29794 3.53613 6.23703C3.5109 6.17612 3.49791 6.11083 3.49791 6.0449C3.49791 5.97897 3.5109 5.91369 3.53613 5.85278C3.56136 5.79187 3.59834 5.73652 3.64496 5.6899C3.69158 5.64328 3.74692 5.6063 3.80784 5.58107C3.86875 5.55584 3.93403 5.54286 3.99996 5.54286C4.06589 5.54286 4.13117 5.55584 4.19209 5.58107C4.253 5.6063 4.30834 5.64328 4.35496 5.6899L5.49996 6.8149L7.45496 4.2099C7.53452 4.10382 7.65297 4.03368 7.78425 4.01493C7.84925 4.00564 7.91544 4.00925 7.97905 4.02555C8.04266 4.04184 8.10243 4.07051 8.15496 4.1099C8.20749 4.1493 8.25174 4.19866 8.2852 4.25516C8.31865 4.31166 8.34065 4.37419 8.34993 4.43919C8.35922 4.50419 8.35561 4.57039 8.33932 4.63399C8.32302 4.6976 8.29436 4.75737 8.25496 4.8099L6.19996 7.5249Z" fill="#4C8AE7"/></g><defs><clipPath id="clip0_18_10"><rect width="12" height="12" fill="white"/></clipPath></defs></svg>
      {% endif %}  
    </strong>
    {{ block.settings.content }}
  </div>

  <style>
    #{{ block.id }} .user-trust-content, #{{ block.id }} .user-trust-content * { font-size: {{ block.settings.text_size }}px; line-height: {{ block.settings.text_size | plus: 7 }}px; color: {{ block.settings.text_color }}; }
    .user-trust-content {
        max-width: calc(100% - 65px);
    }
    .user-trust-content strong {
        display: inline-flex;
        align-items: center;
        gap: 5px;
    }
    #{{ block.id }} .user-trust-content p { margin-bottom: 0; margin-top: 0; display: inline;}
    #{{ block.id }} .user-trust-content p font + strong, #{{ block.id }} .user-trust-content p strong + font {
        margin-left: 5px;
    }
    #{{ block.id }}.user-trust-name {
        padding: 15px;
        border-radius: 8px;
        margin-top: {{ block.settings.margin_top }}px;
        margin-bottom: {{ block.settings.margin_bottom }}px;
        display: flex;
        gap: 10px;
        align-items: center;
    }
    #{{ block.id }}.user-trust-name .user-trust-pics {
        display: inline-flex;
    }
    #{{ block.id }}.user-trust-name .user-trust-pics svg:not(:first-child), #{{ block.id }}.user-trust-name .user-trust-pics img:not(:first-child) {
        margin-left: -10px;
    }
    #{{ block.id }}.user-trust-name .user-trust-pics svg, #{{ block.id }}.user-trust-name .user-trust-pics img {
        border: {{ block.settings.profile_border_size }}px solid {{ block.settings.profile_border_color }};
        border-radius: 50%;
        object-fit: cover;
        object-position: top;
        width: 35px;
        height: 35px;
    }
  </style>
</div>

<!-- Block Schema, Place it in section schema & render it where you needed -->

{
  "type": "user-trust-name",
  "name": "User Trust Name",
  "limit": 1,
  "settings": [
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "label": "Margin Top",
      "default": 0,
      "min": 0,
      "max": 30,
      "step": 2
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "default": 0,
      "min": 0,
      "max": 30,
      "step": 2
    },
    {
      "type": "header",
      "content": "Content Settings"
    },
    {
      "type": "image_picker",
      "id": "profile_pic_1",
      "label": "Profile Pic 1"
    },
    {
      "type": "image_picker",
      "id": "profile_pic_2",
      "label": "Profile Pic 2"
    },
    {
      "type": "text",
      "id": "user_name_1",
      "label": "User Name 1",
      "default": "Kevin M"
    },
    {
      "type": "text",
      "id": "user_name_2",
      "label": "User Name 2",
      "default": "Sarah F"
    },
    {
      "type": "checkbox",
      "id": "verified",
      "label": "Is Verified?",
      "default": false
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content",
      "default": "<p>und <b>5728 andere</b> sind begeistert von Sternify</p>"
    },
    {
      "type": "range",
      "id": "text_size",
      "label": "Text Size",
      "default": 12,
      "min": 8,
      "max": 20,
      "step": 2
    },
    {
      "type": "header",
      "content": "Border/Color Settings"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#F9F9F9"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "profile_border_color",
      "label": "Profile Border Color",
      "default": "#cccccc"
    },
    {
      "type": "range",
      "id": "profile_border_size",
      "label": "Profile Border Size",
      "default": 1,
      "min": 0,
      "max": 5,
      "step": 1
    }
  ]
}